header {
background-color: #0066cc;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}

nav {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: 900px;
}

nav img {
height: 80px;
}

nav h1 {
font-size: 2.5rem;
margin: 0;
}

nav h1 a {
color: #fff;
text-decoration: none;
}

nav h2 {
font-size: 1.2rem;
margin: 0;
padding-left: 10px;
}

nav .button {
background-color: #fff;
color: #0066cc;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 1.2rem;
text-decoration: none;
}

nav .button:hover {
background-color: #fff;
color: #0066cc;
cursor: pointer;
}
